{% extends "project/layout.html" %}

{% block body %} <!--Everthing that you gonna type after a new 'íf, form..' must be inside the "block body"'-->

      <h1>{{gymdetail.nome}}</h1>

      <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{gymdetail.imagem}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{gymdetail.imagem2}}" class="d-block w-100" alt="...">
              </div>
            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
      </div>



      <div class="list-group">
            <h4 class="list-group-item">{{gymdetail.descricao}}</h4>
            
            
            <h5 class="list-group-item">Address: {{gymdetail.endereco}}</h5>
            <h5 class="list-group-item">Site: <a href='{{gymdetail.linkacademia}}'>{{gymdetail.linkacademia}}</a></h5>
            <h5 class="list-group-item">Work Time: {{gymdetail.horario}}</h5>
            
            {% if gymdetail.fitdance%}   
                  <h5 class="list-group-item">Fitdance: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Fitdance: No</h5>
            {% endif %}   
      
            {% if gymdetail.natacao%}   
                  <h5 class="list-group-item">Swimming: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Swimming: No</h5>
            {% endif %}   
            
            {% if gymdetail.pilates%}   
                  <h5 class="list-group-item">Pilates: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Pilates: No</h5>
            {% endif %}   
      
            {% if gymdetail.spinning%}   
                  <h5 class="list-group-item">Spinning: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Spinning: No</h5>
            {% endif %}   
      
            {% if gymdetail.vestiario%}   
                  <h5 class="list-group-item">WC: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">WC: No</h5>
            {% endif %}   
      
            {% if gymdetail.estacionamento%}   
                  <h5 class="list-group-item">Parking Place: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Parking Place: No</h5>
            {% endif %}   
      
            {% if gymdetail.arcondicionado%}   
                  <h5 class="list-group-item">Air Conditioning: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Air Conditioning: No</h5>
            {% endif %}   
      
            {% if gymdetail.nutricionista%}   
                  <h5 class="list-group-item">Nutritionist: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Nutritionist: No</h5>
            {% endif %}   
      
            {% if gymdetail.personal%}   
                  <h5 class="list-group-item">Personal: Yes</h5>
            {% else %}     
                  <h5 class="list-group-item">Personal: No</h5>
            {% endif %}      
            
      </div>



{% endblock %}

